/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
     /* Basic styles */

     html {
      font-size: 12px;
     }

     body {
      font-family: 'Kumbh Sans', sans-serif;
      text-align: left;
      background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
      min-height: 100vh;
      color: hsl(237, 12%, 33%);
     }

     main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      background-image: url(../images/illustration-woman-online-mobile.svg) no-repeat;
      margin-top: 108px;
     }

     main::before {
      content: "";
      background: url(../images/illustration-woman-online-mobile.svg) no-repeat;
      width: 236px;
      height: 180px;
      position: absolute;
      top: -3%;
      left: 50%;
      transform: translate(-50%, -50%);
     }

     main::after {
      content: "";
      background: url(../images/bg-pattern-mobile.svg) no-repeat;
      width: 236px;
      height: 180px;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
     }

     h1 {
      font-size: 3em;
      margin: 0;
      color: #201d38;
     }

     h2 {
      font-size: 1em;
      margin: 0;
     }

     p {
      font-size: 1em;
      color: hsl(240, 6%, 50%);
      margin: 0;
     }

     a {
      text-decoration: none;
     }

     button {
      border: transparent;
      background-color: transparent;
      padding: 0;
     }

     /* Classes, Ids, Etc. */

     .content-wrapper {
      width: 335px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: 20px;
     }

     .faq-content {
      padding: 140px 25px 25px 25px;
      width: 285px;
      text-align: center;
     }

     .wrapper {
      width: 80%;
      border-bottom: 1px solid hsl(240, 5%, 91%);
     }

     .question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
     }

     .question:hover {
      color: hsl(14, 88%, 65%);
     }

     .answer {
      height: 0;
      overflow: hidden;
      opacity: 0;

     }

     .question.open + .answer {
      opacity: 1;
      overflow: visible;
      height: 100%;
      padding-bottom: 1em;
     }

     .question.open {
      color: black;
     }

     @keyframes up-n-down {
      from {
        transform: translate(-55%, -55%);
      }
      50% {
        transform: translate(-55%, -57.5%);
      }
      to {
        transform: translate(-55%, -55%);
      }
     }
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

  @media only screen and (min-width: 1200px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 510px;
      width: 920px;
      background: 
      url(../images/illustration-woman-online-desktop.svg) bottom 6em left -6.3em no-repeat,
      url(../images/bg-pattern-desktop.svg) bottom -13em left -46em no-repeat;
      background-color: white;
      border-radius: 20px;
      margin: 0;
    }

    main::before {
      content: "";
      background: url(../images/illustration-box-desktop.svg) no-repeat;
      width: 140px;
      height: 190px;
      position: relative;
      top: 32%;
      left: -35.5%;
      transform: translate(-55%, -55%);
      animation: up-n-down 2s ease-in-out;
      animation-iteration-count: infinite;
    }

    main::after {
      display: none;
    }

    .logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: transparent;
      padding: 40px 70px;
    }

    .faq-content {
      padding: 0;
      text-align: left;
    }
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  